<launch>
  <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find turtlebot3_home_service_challenge_simulation)/models"/>
  <arg name="use_robot_name" default="mybot"/>

  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <!-- <rosparam file="$(find turtlebot3_home_service_challenge_simulation)/config/gazebo_controller.yaml" command="load" /> -->
  <rosparam file="$(find mybot_description)/config/mybot_control.yaml" command="load"/>

  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_home_service_challenge_simulation)/worlds/competition_room.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="1.68"/>

  <!-- send robot urdf to param server -->

  <param name="robot_description" command="$(find xacro)/xacro '$(find mybot_description)/urdf/mybot.urdf.xacro'"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
   <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -param robot_description -model mybot 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
  

  <rosparam file="$(find mybot_description)/config/mybot_control.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" output="screen"
    args="spawn joint_state_controller" respawn="false"/>
  
  <!-- Load joint controller configurations from YAML file to parameter server -->
  
 <rosparam file="$(find mybot_description)/config/gazebo_ros_control_params.yaml" command="load" />
 <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn"/>

  
</launch>
